$color-primary: #328d88;
$color-secondary: #47acaf;
$color-tertiary: #f2fa18;
$color-quarternary: #87369e;

$color-grey-light: #efefef;
$color-grey-dark: #333;
$color-hover:#edf5f8;
$color-link-cover:#ccc;

$color-paragraph:#4a4a4a;

$color-green:#34eb49;

$color-white:#ffffff;
$color-black: #000;

//font

$default-font-size:1.6rem;

//Grid
$grid-width:114rem;
$gutter-vertical-small: 2rem;
$gutter-vertical: 4 rem;
$gutter-horizontal: 4 rem;

